# env
.env
.env.*
**/.env
**/.env.*

# dependencies
node_modules
**/node_modules

# build
dist
build
**/dist
**/build

# uploads
uploads
**/uploads

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea