version: "3.8"

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend/app
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
