version: "3.9"

services:
  backend:
    image: paras1478/backend:latest
    container_name: backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env

  frontend:
    image: paras1478/frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend