name: Deploy

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Connect EC2 & Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "Connected"

            # clone first time
            if [ ! -d "$HOME/ai" ]; then
              git clone https://github.com/paras1478/ai.git ~/ai
            fi

            cd ~/ai

            git pull origin main

            docker compose down
            docker compose up -d --build

            echo "Done"
