name: Deploy

on:
push:
branches:
- main

jobs:
deploy:
runs-on: ubuntu-latest

```
steps:
  - name: Checkout
    uses: actions/checkout@v4

  - name: Login DockerHub
    uses: docker/login-action@v3
    with:
      username: ${{ secrets.DOCKER_USERNAME }}
      password: ${{ secrets.DOCKER_PASSWORD }}

  - name: Build Backend
    run: docker build -t ${{ secrets.DOCKER_USERNAME }}/backend:latest ./backend

  - name: Push Backend
    run: docker push ${{ secrets.DOCKER_USERNAME }}/backend:latest

  - name: Build Frontend
    run: docker build -t ${{ secrets.DOCKER_USERNAME }}/frontend:latest ./frontend

  - name: Push Frontend
    run: docker push ${{ secrets.DOCKER_USERNAME }}/frontend:latest

  - name: Deploy EC2
    uses: appleboy/ssh-action@v1.0.3
    with:
      host: ${{ secrets.EC2_HOST }}
      username: ${{ secrets.EC2_USER }}
      key: ${{ secrets.EC2_SSH_KEY }}
      script: |
        cd ai
        git pull origin main
        docker compose pull
        docker compose up -d
```
