name: Deploy to EC2

on:
push:
branches: [ main ]

jobs:
deploy:
runs-on: ubuntu-latest


steps:
  - name: Checkout
    uses: actions/checkout@v4

  - name: Create SSH key
    run: |
      echo "${{ secrets.EC2_SSH_KEY_B64 }}" | base64 -d > key
      chmod 600 key

  - name: Deploy
    run: |
      ssh -o StrictHostKeyChecking=no -i key ubuntu@${{ secrets.EC2_HOST }} << 'EOF'
        cd ~/ai
        git pull origin main
        docker compose down
        docker compose up -d --build
      EOF
